# Week 2 Assignment
## Austin Dumas

In [1]:
# Display "Hello World! My name is..."
display("Hello World! My name is Austin.")

'Hello World! My name is Austin.'

In [2]:
# Add two numbers
4 + 5

9

In [3]:
# Subtract two numbers
4 - 5

-1

In [4]:
# Multiply two numbers
4 * 5

20

In [5]:
# Divide two numbers
4 / 5

0.8

In [6]:
# Concatenate two strings
"Austin" + " " + "Dumas"

'Austin Dumas'

In [7]:
# Create a list of four items
my_list = [1,"two", 3.0, "4"]
print(my_list)

[1, 'two', 3.0, '4']

In [8]:
# Append an item to the list
my_list.append(5)
print(my_list)

[1, 'two', 3.0, '4', 5]

In [9]:
# Create a tuple with 4 items
my_tuple = (5,4,3,2)
print(my_tuple)

(5, 4, 3, 2)